{% extends "base.html" %}

{% block heading %}
    Login!
{% endblock %}

{% block content %}


{% if error %}
    ERROR: {{error}}
{% endif %}

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    Fan name:
    <br />

    <input type="text" name="fanname" />

    <br />

    Password:

    <br />

    <input type="password" name="password" />

    <br />
    <br />

    <input type="submit" value="Login" />

</form>

{% endblock%}