{% extends "base.html" %}

{% block heading %}
    Register as a fan!
{% endblock %}

{% block content %}

{% if error %}
    ERROR: {{error}}
{% endif %}

<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    Fan name:
    <br />

    <input type="text" name="fanname" />

    <br />

    Password:

    <br />

    <input type="password" name="password1" />

    <br />

    Confirm Password:

    <br />

    <input type="password" name="password2" />

    <br />
    <br />

    <input type="submit" value="Become a fan!" />

</form>
    
{% endblock%}