{% extends "base.html" %}

{% block heading %}
    Welcome to the dashboard
<br />
<br />

{% endblock %}

{% block content %}

{% if error %}
{{ error }}
{% endif %}

{% for yourDashboard in yourDashboards %}

<table border="1" width="100%">
    <thead>
        <tr>
            <td colspan="10"> {{ yourDashboard.name }} </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Posted by: {{ yourDashboard.user }} Owned by:
                {% if not yourDashboard.groups %}
                {{yourDashboard.user}}
                {% else %}
                {{ yourDashboard.groups }}
                {% endif %}

            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>{{ yourDashboard.content }}</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Created on {{ yourDashboard.created }}, edited on {{ yourDashboard.modified }}</td>
        </tr>
    </tbody>

</table>

<br />
<br />
{% endfor %}

{% for accountDashboard in accountDashboards %}

<table border="1" width="100%">
    <thead>
        <tr>
            <td colspan="10"> {{ accountDashboard.name }} </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Posted by: {{ accountDashboard.user }} Owned by: {{ accountDashboard.groups }}
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>{{ accountDashboard.content }}</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Created on {{ accountDashboard.created }}, edited on {{ accountDashboard.modified }}</td>
        </tr>
    </tbody>

</table>

<br />
<br />
{% endfor %}

{% endblock %}

