{% extends "base.html" %}

{% block heading %}
    Your Cart:
<br />
<br />

{% endblock %}

{% block content %}

{% if error %}
{{ error }}
{% endif %}


<table border="1" width="100%">
    <thead>
        <tr>
            <td colspan="10"> Hello {{ user.get_username|capfirst  }}, the products in your cart are: </td>
        </tr>
    </thead>


    <tbody>
        <tr>
            <td>Product Name</td>
            <td>Quantity</td>
            <td>Price per one</td>
            <td>Total price</td>
        </tr>
    </tbody>
    {% for order, totalsum in mylist %}
    <tbody>
        <tr>
            <td>{{ order.product_id }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.product_id.price }}</td>


            <td>{{ totalsum|floatformat:2 }}</td>

        </tr>

    </tbody>
    {% endfor %}

    <thead>
        <tr>
            <td colspan="10"> The total price is: {{ totalsum|floatformat:2 }} </td>
        </tr>
    </thead>
</table>



{% endblock %}

