{% extends "base.html" %}

{% block heading %}
<div style="text-align: center;">

    {{ product.name}}

</div>

{% endblock %}

{% block content %}

<img src="../{{ product.image.url }}" width="500">

    {% endblock %}

    {% block description %}

<br />
<br />
<br />
<br />

<h1>Description:</h1>
{{ product.description }}

<h1>Price:</h1>
{{ product.price }} $

<h1>Quantities Left:</h1>
{{ product.quantity }}

<br />
<br />


<h1>Buy: </h1>

{% if product.quantity >= 1 %}

<form method="POST" action="{ url '../purchase' %}">
    {% csrf_token %}

    Quantity (between 1 and {{product.quantity}}):
    <input type="number" name="quantity" value="1" min="1" max=" {{ product.quantity }} ">

    <br />

    <input name="productId" type="hidden" value="{{ product.id }}">
    <input type="submit" value="Buy" />

</form>

{% else %}

Out of stock.

{% endif %}


{% endblock %}
