{% extends "base.html" %}

{% block heading %}
    Welcome to our fan shop
<br />
<br />

{% endblock %}

{% block content %}
    {% for product in products %}

<a href="{% url 'product_detail' product.id %}">
    <div style="text-align: center;">
        <h1>{{ product.name }} </h1>

    </div>
    <br />
    <img src="{{ product.image.url }}" width="500">

    <div style="text-align: center;">
        <h1> {{ product.price }} $ </h1>

    </div>
    <br />
    <br />
    <br />
    <br />


</a>

    {% endfor %}
    {% endblock %}

