﻿{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Arsenal </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style type="text/css">

        body {
            margin: 0;
            padding: 0;
            font-family: Sans-Serif;
            line-height: 1.5em;
        }

        header {
            background-image: url("/static/header.jpg");
            height: 200px;
        }

            header h1 {
                margin: 0;
                padding-top: 15px;
            }


            header h2 {
                margin: 0;
                padding-top: 135px;
                color: white;
            }

        main {
            padding-bottom: 10010px;
            margin-bottom: -10000px;
            float: left;
            width: 100%;
        }

        nav {
            padding-bottom: 10010px;
            margin-bottom: -10000px;
            float: left;
            width: 230px;
            margin-left: -100%;
            background: #eee;
        }

        footer {
            clear: left;
            width: 100%;
            background: #ccc;
            text-align: center;
            padding: 4px 0;
        }

        #wrapper {
            overflow: hidden;
        }

        #content {
            margin-left: 230px; /* Same as 'nav' width */
            float: left;
        }


        #description {
            font-size: 2;
            margin-top: 100px;
            margin-left: 530px; /* Same as 'nav' width */
        }

        .innertube {
            margin: 15px; /* Padding for content */
            margin-top: 0;
        }

        p {
            color: #555;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            nav ul a {
                color: darkgreen;
                text-decoration: none;
            }
    </style>

</head>

<body>

    <header>
        <div class="innertube">
            <h1>Arsenal Fan Page</h1>
            {% if user.is_authenticated %}

                <h2>Welcome {{ user.get_username|capfirst }}</h2>

            {% endif %}
        </div>
    </header>

    <div id="wrapper">

        <main>
            <div id="content">
                <div class="innertube">
                    <h1> {% block heading %}
                          
                         {% endblock %}

                    </h1>

                    <div>
                        {% block content %}

                        {% endblock %}


                    </div>
          
                </div>
            </div>

            <div id="description">

                {% block description %}

                {% endblock %}

            </div>
        </main>

        <nav>
            <div class="innertube">
                <h3>Arsenal Team</h3>
                <ul>
                    <li><a href="{% url 'team' %}">Team</a></li>
                    <li><a href="{% url 'goalkeepers' %}">All Goalkeepers</a></li>
                    <li><a href="{% url 'defenders' %}">All Defenders</a></li>
                    <li><a href="{% url 'midfielders' %}">All Midfielders</a></li>
                    <li><a href="{% url 'strikers' %}">All Strikers</a></li>
                </ul>
                <h3>Other</h3>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Dashboards</a></li>
                    {% endif %}
                    <li><a href="{% url 'home' %}">Home</a></li>

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}">Register as a fan</a></li>
                    <li><a href="{% url 'login' %}">Login as a fan</a></li>
                    {% endif %}

                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'cart' %}">Cart</a></li>
                    {% endif %}
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="http://127.0.0.1:8000/api">GET API</a></li>
                </ul>
            </div>
        </nav>

    </div>

    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>Arsenal<span>team</span></h3>
            <p class="footer-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'shop' %}">Shop</a>
                <a href="{% url 'contact' %}">Contact</a>
            </p>
            <p class="footer-company-name">Daniel Minchev &copy; 2018</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>21 Sankt Peterburg Street</span> Plovdiv, Bulgaria</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+1 555 123456</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:uLDiss0x@abv.bg">uLDiss0x@abv.bg</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the team</span>
                Arsenal is english football team with huge traditions. They have many silverwares, including golden premiership trophy.
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/Arsenal/?fb_dtsg_ag=AdzPBQNFs4uB7Ee5uWHP8IJt1-rVL8MLFL5oC2Yc80dmtw%3AAdwyShAJ1KDkUz3vI9G86DoG56f6gjKvBtMm51IfYTjjeA"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/arsenal"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/arsenal-f-c/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>