{% extends "base.html" %}

{% block heading %}
    <h3>About Arsenal</h3>
{% endblock %}

{% block content %}
<div>
    <p>
        <img src="/static/stadium.jpg" width="600" alt=""Emirates stadium}">
    </p>
</div>
{% endblock %}

{% block description %}
<p>
    020 7619 5003
</p>
<p>
    Monday to Friday (except Bank Holidays) 09.30 to 17.00.
</p>
<p>
    A matchday service is provided for all Home fixtures when the switchboard is open from 09.30am until 20 minutes after the end of the game.
</p>
<p>
    Please call the above number for all matchday issues.
</p>
{% endblock %}