{% extends "base.html" %}

{% block heading %}
Send us e-mail
<img src="/static/contactus.jpg" width="340">
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form }}

    <button type="submit">Submit</button>

</form>
{% endblock %}
