﻿{% extends "base.html" %}

{% block heading %}
<a href="{% url 'player_detail' player.id %}">
    {{ player.name }}
</a>{% endblock %}

{% block content %}
<div>
    <p>
        <a href="{% url 'player_detail' player.id %}">
            <img src="{{ player.picture.url }}" width="340" alt=" {{ player.name }}">
        </a>
    </p>
</div>
{% endblock %}

{% block description %}
    {{ player.description }}
{% endblock %}