{% extends "base.html" %}

{% block heading %}
{{ player.name }}
</a>{% endblock %}

{% block content %}

<table border="1" width="50%">
    <thead>
        <tr>
            <td colspan="5"> {{ player.name }} stats during the 2017/2018 season. </td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Matches Played</td>
            <td>Goals Scored</td>
            <td>Minutes Played</td>
            <td>Yellow Cards</td>
            <td>Red Cards</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>{{ player.matchesPlayed }}</td>
            <td>{{ player.goalsScored }}</td>
            <td>{{ player.minutesPlayed }}</td>
            <td>{{ player.yellowCards }}</td>
            <td>{{ player.redCards }}</td>
        </tr>
    </tbody>
</table>

    {% endblock %}

