{% extends "base.html" %}

{% block heading %}
    Arsenal Team
{% endblock%}

{% block content %}

    <img src="/static/ArsenalTeam.jpg", width="800" alt="Arsenal Team" />

{% endblock %}

{% block description %}
    {% for player in players %}
        <a href="{% url 'player_detail' player.id %}">

            <h3>{{ player.name }}</h3>

        </a>
    {% endfor %}
{% endblock %}